.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-menu-item {
    padding-right: 5px;
}

.content-card-body {
    max-height: 100px;
    min-height: 100px;
    height: auto; /* Let the height adjust automatically based on the image */
    position: relative; /* Needed for absolute positioning of the image */
    overflow: hidden; /* Ensure the image doesn't overflow the parent */
}

.content-card-body .file-img {
    width: 100%; /* Set the width of the image to fill the parent */
    height: 100%; /* Set the height of the image to fill the parent */
    object-fit: cover; /* Maintain aspect ratio and cover the entire parent */
    position: absolute; /* Position the image relative to the parent */
    top: 0;
    left: 0;
}

.file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-row {
    margin-top: 20px;
}
