<section>
    <div class="container vh-100 content-center">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-center">
                    <div class="card-header">
                        <h2 class="card-title">Arasans Cloud Drive</h2>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-secondary" (click)="login()">Login with Github</button>
                    </div>                    
                  </div>
            </div>
        </div>
    </div>
</section>
<app-progress-bar></app-progress-bar>